@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Helvetica Neue', Roboto, Arial, 'Open Sans', sans-serif;
}

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
